@font-face {
    font-family: 'consolas';
    src: url('consolas.ttf') format('truetype');
}

body {
    font-family: consolas;
}

.light {
    font-family: consolas;
    color: aliceblue;
}

.lead {
    font-family: consolas;
    color: aliceblue;
}

.card-hover-effect {
    /* backdrop-filter: blur(0px); */
    background-color: rbga(255, 255, 255, 0.4);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: transform 0.35s ease, box-shadow 0.3s ease;
}

.card-hover-effect:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 20px rbga(0, 0, 0, 0.4);
}

.card-body {
    padding: 30px;
}

.card-title {
    font-family: consolas;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

.card-text {
    font-family: consolas;
    text-align: left;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    color: #333;
}

.card-text:last-child {
    margin-bottom: 0;
}

.card-text b {
    color: #007bff;
    /* Bootstrap primary color */
}

.hidden {
    visibility: hidden;
}

.year {
    font-family: consolas;
    position: absolute;
    left: -30px;
    top: 10px;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-container {
    position: relative;
    padding-left: 60px;
}

.projects-container::before {
    font-family: consolas;
    content: '';
    position: absolute;
    left: 30px;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #000;
}

.project-item {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 50px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s ease forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.project-item:nth-child(1) {
    animation-delay: 0.3s;
}

.project-item:nth-child(2) {
    animation-delay: 0.6s;
}

.project-item:nth-child(3) {
    animation-delay: 0.9s;
}

input[type=range] {
    -webkit-appearance: none;
    font-family: consolas;
    width: 100%;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: black;
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    font-family: consolas;
    width: 100%;
    height: 8px;
    background: #ddd;
    cursor: pointer;
}

.skill{
    font-family: consolas;
}